<div style="border:1px solid #ccc;">
  <p class="lead">
    <form method="post" enctype="multipart/form-data"><!--  action="/build_convert"> --><!--  target="_blank"> -->
      <div class="form-group">
        <label for="csv">CSV file</label>
        <center><input type="file" class="form-control-file" style="margin-bottom: 20px" name="csv" id="csv"></center>
        <input type="submit" class="btn btn-primary" value="Upload" id="schemaupload" formaction="/build">
      <!-- </div> -->
    <!-- </form> -->
  <!-- </p> -->
    <!-- <form method="post" enctype="multipart/form-data" action="/convert_local"> -->
      <!-- <div class="form-group"> -->
        <!-- <center> -->
          <!-- Working on: {{currentFile}}<br /> -->
          <input type="submit" class="btn btn-primary" value="Convert" id="convertupload" formaction="/build_convert">
        <!-- </center> -->
        <div align="right">
          <!-- <p> -->
            <button class="btn-collapse" type="button" data-toggle="collapse" data-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm" color="red">
              Advanced features
            </button>
          <!-- </p> -->
          <div class="collapse" id="collapseForm">
            <div class="form-check">
              <label class="form-check-label" for="zip">
                Zip conversion result
              </label>
              <input class="form-check-input" type="checkbox" value="zip" id="zip" name="zip" checked>
              <br />
            </div>
            <label>
            format:
            </label> 
            <select id="formatSelect" value="formatSelect" name="formatSelect">
              <option value="n3">n3</option>
              <option value="nquads" selected="selected">nquads</option>
              <option value="nt">nt</option>
              <option value="pretty-xml">pretty-xml</option>
              <option value="trig">trig</option>
              <option value="trix">trix</option>
              <option value="turtle">turtle</option>
              <option value="xml">xml</option>
              <option value="ld+json">ld+json</option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </p>
</div>

<script>
$(document).ready(function() {
  $('#csv').val() ? $('#schemaupload').prop('disabled', false) : $('#schemaupload').prop('disabled', true);
  $('#csv').val() ? $('#convertupload').prop('disabled', false) : $('#convertupload').prop('disabled', true);
});

$('#csv').change(function() {
  $(this).val() ? $('#schemaupload').prop('disabled', false) : $('#schemaupload').prop('disabled', true);
  $(this).val() ? $('#convertupload').prop('disabled', false) : $('#convertupload').prop('disabled', true);
});

</script>