	<div style="border:1px solid #ccc;">
		<p class="lead">
				<center>Start ruminating with: <a href="{{ url_for('ruminator') }}"><span class="currentFile">{{currentFile}}</span></a> </center>
				<center>(instructions on how to edit this JSON can be found <a href="https://github.com/CLARIAH/COW/wiki">here</a>)</center>
				<!-- <a href="http://ruminator.datalegend.net" target="_blank"> -->
				<a href="{{ url_for('ruminator') }}"> <!--maybe without the target, so it will open in the current tab-->
				<img src="{{url_for('.static', filename='img/cow-left.png')}}" style="margin:auto; width:5%;display:block; margin-top: 10px">
			</a>
		</p>
	</div>

<script>
$(document).ready(function() {
	$('#convertupload').on('click',function(event) {
		// $('.currentFile')[0].innerHTML = ''

// function clickConvert(){
		// var x = document.getElementById("csv");
		// console.log(x.files[0].name);
		$('.currentFile')[0].innerHTML = document.getElementById("csv").files[0].name;
// };
	});
})
</script>