<div style="border:1px solid #ccc;">
	<p class="lead">
		<form method="post" enctype="multipart/form-data" data-toggle="validator"><!--  action="/build_convert"> --><!--  target="_blank"> -->
			<div class="form-group">
				<label for="csv">CSV file</label>
				<center><input type="file" class="form-control-file" name="csv" id="csv" data-filesize="1.5">
				 <div class="help-block with-errors" style="margin-bottom: 20px"></div></center>
				<input type="submit" class="btn btn-primary" value="Upload" id="schemaupload" formaction="/build">
			<!-- </div> -->
		<!-- </form> -->
	<!-- </p> -->
		<!-- <form method="post" enctype="multipart/form-data" action="/convert_local"> -->
			<!-- <div class="form-group"> -->
				<!-- <center> -->
					<!-- Working on: {{currentFile}}<br /> -->
				<input type="submit" class="btn btn-primary" value="Convert" id="convertupload" formaction="/build_convert">
				<!-- </center> -->
				<br />
					<div align="right">
				<div style="display:inline-block; padding:5pt">
				<!-- <div style="display:inline-block; border:1px solid #ccc; padding:5pt"> -->
					<!-- <p> -->
						<button class="btn-collapse collapsed" type="button" data-toggle="collapse" data-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm" color="red">
						Advanced features
						</button>
					<!-- </p> -->
					<div class="collapse" id="collapseForm" aria-expanded="false" style="height: 0px;" align="left">
						<div class="form-check">
							<label class="form-check-label" for="zip">
								Zip conversion result
							</label>
							<input class="form-check-input" type="checkbox" value="zip" id="zip" name="zip" checked="">
							<br>
						</div>
						<label>
						format:
						</label> 
						<select id="formatSelect" value="formatSelect" name="formatSelect">
							<option value="n3">n3</option>
							<option value="nquads" selected="selected">nquads</option>
							<option value="nt">nt</option>
							<option value="pretty-xml">pretty-xml</option>
							<option value="trig">trig</option>
							<option value="trix">trix</option>
							<option value="turtle">turtle</option>
							<option value="xml">xml</option>
							<option value="json-ld">ld+json</option>
						</select>
						<br><label for="json">Manual JSON:</label><input type="file" class="form-control-file" name="json" id="json" text="json here">
					</div>
				</div>
					</div>
			</div>
		</form>
	</p>
</div>

<script>
$(document).ready(function() {
	$('#csv').val() ? $('#schemaupload').prop('disabled', false) : $('#schemaupload').prop('disabled', true);
	$('#csv').val() ? $('#convertupload').prop('disabled', false) : $('#convertupload').prop('disabled', true);
});

$('#csv').change(function() {
	$(this).val() ? $('#schemaupload').prop('disabled', false) : $('#schemaupload').prop('disabled', true);
	$(this).val() ? $('#convertupload').prop('disabled', false) : $('#convertupload').prop('disabled', true);
});

$('form[data-toggle="validator"]').validator({
  custom: {
    filesize: function ($el) {
      var maxBytes = $el.data('filesize') * 1024 * 1024;
      console.log($el[0].files[0].size);
      if ($el[0].files[0].size > maxBytes) {
      	$('#schemaupload').prop('disabled', true);
      	$('#convertupload').prop('disabled', true);
        return "File must be smaller than " + $el.data('filesize') + " MB.";
      }
    }
    
    // //custom file type validation
    // filetype: function ($el) {
    //   var acceptableTypes = $el.prop('accept').split(',');
    //   var fileType = $el[0].files[0].type;
     
    //   if (!$.inArray(fileType, acceptableTypes)) {
    //     return "Invalid file type"
    //   }
    
    
    // }
  }
})

</script>