{% include 'header.html' %}

			<div class="inner">
				<!-- <p class="lead"> You reach an intersection, there are three paths you can chose...</p> -->


				<p class="h4">Answers these questions to improve the scheme for your dataset.</p>

				<div style="border:1px solid #ccc;">
					<p class="lead">
							<center>This is where the questions will be.</center>
					</p>
					<a class="btn btn-primary" style="margin-bottom: 20px" href="/convert" id="exit" title="exit">Submit answers</a>
				</div>

				<div style="margin-top: 30px; margin-bottom: 30px">
				</div>

				<p class="h4">Or edit the JSON manually with Ruminator.</p>

				{% include 'box_ruminator.html' %}

				<div style="margin-top: 30px; margin-bottom: 30px">
				</div>

			</div>

{% include 'footer.html' %}
