{% include 'header.html' %}

			<div class="inner">
				<!-- <p class="lead"> You reach an intersection, there are three paths you can chose...</p> -->


				<p class="h4">Immediately start the conversion of your data with the default scheme!</p>

				<div style="border:1px solid #ccc;">

					<div style="margin-top: 30px; margin-bottom: 30px">

						<a class="btn btn-primary" href="/convert" id="convert" title="convert">Convert</a>

					</div>

				</div>

				<div style="margin-top: 30px; margin-bottom: 30px">
				</div>

				<p class="h4">Or edit the scheme manually.</p>

				<div style="border:1px solid #ccc;">
					<div style="margin-top: 30px; margin-bottom: 30px">
						<a class="btn btn-primary" href="/manual_scheme" id="manual" title="manual">Edit Scheme</a>
					</div>
				</div>

				<div style="margin-top: 30px; margin-bottom: 30px">
				</div>

			</div>

{% include 'footer.html' %}
