{% include 'header.html' %}

			<div class="inner">
				<!-- <p class="lead"> You reach an intersection, there are three paths you can chose...</p> -->


				<p class="h4">Immediately start the conversion of your data with the default scheme!</p>

				<div style="border:1px solid #ccc;">

					<div style="margin-top: 30px; margin-bottom: 30px">
					</div>

					<a class="btn btn-primary" style="margin-bottom: 20px" href="/convert_local" id="convert" title="convert">Convert</a>
				</div>

				<div style="margin-top: 30px; margin-bottom: 30px">
				</div>

				<p class="h4">Or edit the scheme manually.</p>

				<a class="btn btn-primary" style="margin-bottom: 20px" href="/manual_scheme" id="manual" title="manual">Edit Scheme</a>

				<div style="margin-top: 30px; margin-bottom: 30px">
				</div>

			</div>

{% include 'footer.html' %}
