{% include 'header.html' %}

<div class="inner">
	{% if ready_for_download == true %}
		Your file has finished conversion and can be download!<br />
		simply click <a href="{{ url_for('download_file', combined_hash=hash) }}">this button!</a>
	{% else %}
		Conversion is still under way, please give the cows some more time. <br />
		When the conversion is finished it will be available <a href="{{ url_for('download_page', combined_hash=hash) }}">here!</a>!
	{% endif %}
</div>

<script type="text/javascript">
	$(document).ready(function() {console.log('{{hash}}')});
</script>

{% include 'footer.html' %}
