{% include 'header.html' %}



          <div class="inner">
	    <!--img src="{{url_for('.static', filename='cattle_logo_01.png')}}" -->
            <p class="lead"> <b>cattle</b> {{version}}, an instance of a COW Web service.</p>

            <p class="h4">Step 1: JSON schema file generation</p>


          <div style="border:1px solid #ccc;">
            <p class="lead">
              <form method="post" enctype="multipart/form-data" action="/build" target="_blank">
                <div class="form-group">
                  <label for="csv">CSV file</label>
                  <center><input type="file" class="form-control-file" style="margin-bottom: 20px" name="csv" id="csv"></center>
                  <input type="submit" class="btn btn-primary" value="Upload" id="schemaupload">
                </div>
              </form>
            </p>
          </div>

          <div style="margin-top: 30px; margin-bottom: 30px">
          </div>

          <p class="h4">Step 2: enrich your JSON schema </p>


        <div style="border:1px solid #ccc;">
          <p class="lead">
              <center>Enrich your data manually or
                <a href="http://ruminator.datalegend.net" target="_blank">ruminate</a> it</center>
              <a href="http://ruminator.datalegend.net" target="_blank">
              <img src="{{url_for('.static', filename='img/cow-left.png')}}" style="margin:auto; width:5%;display:block; margin-top: 10px">
            </a>
          </p>
        </div>

        <div style="margin-top: 30px; margin-bottom: 30px">
        </div>

          <p class="h4">Step 3: CSVW conversion</p>

          <div style="border:1px solid #ccc;">
            <p class="lead">
              <form method="post" enctype="multipart/form-data" action="/convert">
                <div class="form-group">
                  <label for="json">JSON file</label>
                  <center><input type="file" class="form-control-file" style="margin-bottom: 20px" name="json" id="json"></center>
                  <label for="csv2">CSV file</label>
                  <center><input type="file" class="form-control-file" style="margin-bottom: 20px" name="csv" id="csv2"></center>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="zip" id="zip" name="zip" checked>
                    <label class="form-check-label" for="zip">
                      Zip conversion result
                    </label>
                  </div>
                  <input type="submit" class="btn btn-primary" value="Upload" id="convertupload">
                </div>
              </form>
            </p>
          </div>

          <div style="margin-top: 30px; margin-bottom: 30px">
          </div>

	  <script>
    $(document).ready(function() {
      $('#csv').val() ? $('#schemaupload').prop('disabled', false) : $('#schemaupload').prop('disabled', true);
      $('#json').val() && $('#csv2').val() ? $('#convertupload').prop('disabled', false) : $('#convertupload').prop('disabled', true);
    });

    $('#csv').change(function() {
      $(this).val() ? $('#schemaupload').prop('disabled', false) : $('#schemaupload').prop('disabled', true);
    });

    $('#json').change(function() {
      $(this).val() && $('#csv2').val() ? $('#convertupload').prop('disabled', false) : $('#convertupload').prop('disabled', true);
    });

    $('#csv2').change(function() {
      $(this).val() && $('#json').val() ? $('#convertupload').prop('disabled', false) : $('#convertupload').prop('disabled', true);
    });
    </script>

{% include 'footer.html' %}
