{% include 'header.html' %}



<div class="inner">
			<!--img src="{{url_for('.static', filename='cattle_logo_01.png')}}" -->
	<p class="lead"> <b>cattle</b> {{version}}, an instance of a <a href="https://github.com/CLARIAH/COW" target="_blank">COW</a> Web service.</p>

	<p class="h4">Step 1: JSON schema file generation</p>


	{% include 'box_upload.html' %}

	<div style="margin-top: 30px; margin-bottom: 30px">
	</div>
	{% if currentFile == "" %}
		<!-- <center> No datasets are currently ready for conversion. </center> -->
	{% else %}

		{% include 'box_ruminator.html' %}

		<div style="margin-top: 30px; margin-bottom: 30px">
		</div>

	{% endif %}
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#edeff5",
      "text": "#838391"
    },
    "button": {
      "background": "#4b81e8"
    }
  },
  "theme": "classic",
  "position": "bottom-right"
})});
</script>

{% include 'footer.html' %}
